@model CoupleDating_MVC5.Models.Favorites

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Favorites</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member1.FirstName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member1.FirstName1)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.favoriteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>