@model CoupleDating_MVC5.Models.PlaceLinks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlaceLinks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceLinkType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceLinkType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceLinkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>